{% extends 'LoLToolBundle::layout.html.twig' %}

{% block title 'LoLTool Bundle' %}

{% block container %}
    <div class="block">
        {% block content %}

            <div class="profile">

                <ul class="recent">
                    {% for game in gameList %}
                        {% include 'LoLToolBundle:Game:single_game.html.twig' %}
                    {% endfor %}
                </ul>
            </div>

        {% endblock %}
    </div>
{% endblock %}
