{% extends "::base.html.twig" %}

{% block title %}LoLToolBundle:Champion:updateChampionData{% endblock %}

{% block content %}
<h1>Welcome to the Champion:updateChampionData page</h1>
{% endblock %}
