body {
  padding-top: 50px;
}

ul.recent {
  li {
    list-style: none;
    background-color: red;
    margin: 10px 0px;
    padding: 10px;
    &.green {
      background-color: greenyellow;
    }
  }
}

.champion-thumb, .game-statistics {
  float: left;
}
