body {
  padding-top: 50px;
}
img.bg-image {
  min-height: 100%;
  position: fixed;
  z-index: -1;
  min-width: 100%;
}
img.bg-vignette {
  min-height: 100%;
  position: fixed;
  z-index: -1;
  min-width: 100%;
}
h1,
h2,
h3 {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: lighter;
  margin: 0px;
}
h1 {
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  margin-top: 5px;
}
h3 span {
  display: block;
  text-transform: uppercase;
}
.main-part {
  margin-top: 50px;
  clear: both;
  overflow: hidden;
}
.main-part header {
  padding-left: 15px;
}
.main-part .main-part-container {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  float: left;
}
.main-part .icon {
  float: left;
  margin-right: 15px;
}
.main-part .icon img {
  width: 72px;
  height: 72px;
}
div.recent {
  clear: both;
}
ul.recent {
  padding: 0px;
}
ul.recent li {
  list-style: none;
  background-color: red;
  margin: 10px 0px;
  padding: 10px;
}
ul.recent li.green {
  background-color: greenyellow;
}
.champion-thumb,
.game-statistics {
  float: left;
}
